<h1>Clothing:</h1>
<div class="error"></div>
<% stocks.forEach(stock => { %>
    <%if (stock.brandName === 'Adidas') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyAdidasAmmt" type="number" placeholder="0"/>
                    <button id="buyAdidas">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellAdidasAmmt" type="number" placeholder="0"/>
                    <button id="sellAdidas">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <%if (stock.brandName === 'Nike') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyNikeAmmt" type="number" placeholder="0"/>
                    <button id="buyNike">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellNikeAmmt" type="number" placeholder="0"/>
                    <button id="sellNike">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <%if (stock.brandName === 'Old Navy') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyOld NavyAmmt" type="number" placeholder="0"/>
                    <button id="buyOld Navy">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellOld NavyAmmt" type="number" placeholder="0"/>
                    <button id="sellOld Navy">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <% if (stock.brandName === 'Levi') { %>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyLeviAmmt" type="number" placeholder="0"/>
                    <button id="buyLevi">Buy</button>
                </form>
            </span>
             <span>
                <form>
                    <input id="sellLeviAmmt" type="number" placeholder="0"/>
                    <button id="sellLevi">Sell</button>
                </form>
            </span>
        </div>
    <% } %>
<% }); %>
<button id="cloth-cancel">Cancel</button>