<h1>Dining:</h1>
<div class="error"></div>
<% stocks.forEach(stock => { %>
    <%if (stock.brandName === 'Pepsi') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyPepsiAmmt" type="number" placeholder="0"/>
                    <button id="buyPepsi">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellPepsiAmmt" type="number" placeholder="0"/>
                    <button id="sellPepsi">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <%if (stock.brandName === 'McDonald\'s') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyMcDonald'sAmmt" type="number" placeholder="0"/>
                    <button id="buyMcDonald's">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellMcDonald'sAmmt" type="number" placeholder="0"/>
                    <button id="sellMcDonald's">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <%if (stock.brandName === 'Chipotle') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyChipotleAmmt" type="number" placeholder="0"/>
                    <button id="buyChipotle">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellChipotleAmmt" type="number" placeholder="0"/>
                    <button id="sellChipotle">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <% if (stock.brandName === 'Starbucks') { %>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyStarbucksAmmt" type="number" placeholder="0"/>
                    <button id="buyStarbucks">Buy</button>
                </form>
            </span>
             <span>
                <form>
                    <input id="sellStarbucksAmmt" type="number" placeholder="0"/>
                    <button id="sellStarbucks">Sell</button>
                </form>
            </span>
        </div>
    <% } %>
<% }); %>
<button id="dining-cancel">Cancel</button>