<h1>Entertainment:</h1>
<div class="error"></div>
<% stocks.forEach(stock => { %>
    <%if (stock.brandName === 'Warner Bros.') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyWarner Bros.Ammt" type="number" placeholder="0"/>
                    <button id="buyWarner Bros.">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellWarner Bros.Ammt" type="number" placeholder="0"/>
                    <button id="sellWarner Bros.">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <%if (stock.brandName === 'ABC') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyABCAmmt" type="number" placeholder="0"/>
                    <button id="buyABC">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellABCAmmt" type="number" placeholder="0"/>
                    <button id="sellABC">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <%if (stock.brandName === 'Blockbuster') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyBlockbusterAmmt" type="number" placeholder="0"/>
                    <button id="buyBlockbuster">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellBlockbusterAmmt" type="number" placeholder="0"/>
                    <button id="sellBlockbuster">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <% if (stock.brandName === 'Disney') { %>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyDisneyAmmt" type="number" placeholder="0"/>
                    <button id="buyDisney">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellDisneyAmmt" type="number" placeholder="0"/>
                    <button id="sellDisney">Sell</button>
                </form>
            </span>
        </div>
    <% } %>
<% }); %>
<button id="entertainment-cancel">Cancel</button>