<h1>Tech:</h1>
<div class="error"></div>
<% stocks.forEach(stock => { %>
    <%if (stock.brandName === 'YouTube') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyYouTubeAmmt" type="number" placeholder="0"/>
                    <button id="buyYouTube">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellYouTubeAmmt" type="number" placeholder="0"/>
                    <button id="sellYouTube">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <%if (stock.brandName === 'Microsoft') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyMicrosoftAmmt" type="number" placeholder="0"/>
                    <button id="buyMicrosoft">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellMicrosoftAmmt" type="number" placeholder="0"/>
                    <button id="sellMicrosoft">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <%if (stock.brandName === 'Apple') {%>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyAppleAmmt" type="number" placeholder="0"/>
                    <button id="buyApple">Buy</button>
                </form>
            </span>
            <span>
                <form>
                    <input id="sellAppleAmmt" type="number" placeholder="0"/>
                    <button id="sellApple">Sell</button>
                </form>
            </span>
        </div>
    <%}%>
    <% if (stock.brandName === 'Google') { %>
        <div>
            <span class="brandName"><%=stock.brandName%></span>
            <span>Price: $<%=stock.price%>,</span>
            <span>You own: <%=stock.quantity%></span>
            <span>
                <form>
                    <input id="buyGoogleAmmt" type="number" placeholder="0"/>
                    <button id="buyGoogle">Buy</button>
                </form>
            </span>
             <span>
                <form>
                    <input id="sellGoogleAmmt" type="number" placeholder="0"/>
                    <button id="sellGoogle">Sell</button>
                </form>
            </span>
        </div>
    <% } %>
<% }); %>
<button id="tech-cancel">Cancel</button>